@font-face{
	font-family: "Roboto";
	src: local("Roboto"),
		url("../fonts/roboto.woff2") format("woff2"),
		url("../fonts/roboto.woff") format("woff");
	font-style: normal;
	font-weight: 300;
}

@font-face{
	font-family: "Roboto";
	src: local("Roboto Medium"), local("Roboto-Medium"),
		url("../fonts/robotomedium.woff2") format("woff2"),
		url("../fonts/robotomedium.woff") format("woff");
	font-style: normal;
	font-weight: 500;
}

@font-face{
	font-family: "Roboto";
	src: local("Roboto Bold"), local("Roboto-Bold"),
		url("../fonts/robotobold.woff2") format("woff2"),
		url("../fonts/robotobold.woff") format("woff");
	font-style: normal;
	font-weight: 800;
}

body{
	max-width: 1920px;
	min-width: 1440px;
	min-height: 1750px;
	margin: 0 auto;
	padding: 0;
}

.visually-hidden:not(:focus):not(:active){
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

.container{
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 140px;
}

.button{
	padding: 15px 55px;
	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 1);
}

.header{
	padding-top: 50px;
	background-color: rgba(238, 238, 238, 1);

	display: -webkit-box;
	display: -ms-flexbox;
		display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
			justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
			align-items: flex-start;
}

.header__logo:hover{
	opacity: 0.6;
}

.header__logo:active{
	opacity: 0.3;
}

.menu{
	display: -webkit-box;
	display: -ms-flexbox;
		display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-ms-flex-pack: distribute;
		justify-content: space-around;
}

.menu__list{
	margin-top: 25px;
	min-width: 800px;

	display: -webkit-box;
	display: -ms-flexbox;
		display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
			justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
			align-items: center;
}

.menu__item{
	position: relative;
	margin-right: 40px;
	list-style: none;
}

.menu__link--active::after{
	position: absolute;
	content: "";
	width: 100%;
	height: 2px;
	left: 0;
	bottom: -10px;
	background-color: rgba(251, 86, 90, 1);
}

.menu__item--cart{
	margin-left: 240px;
	margin-right: 0;
}

.menu__link{
	position: relative;
	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	text-decoration: none;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 1);
}

.menu__link:hover,
.menu__link:focus{
	color: rgba(251, 86, 90, 1);
}

.menu__link:active{
	color: rgba(0, 0, 0, 0.3);
}

.menu__link--cart::before{
	position: absolute;
	content: "";
	top: 2px;
	left: -40px;
	width: 15px;
	height: 15px;
	background-image: url(../img/cart.svg);
}

.promo{
	margin-bottom: 80px;
	position: relative;
	background-color: rgba(238, 238, 238, 1);
}

.promo__list{
	margin: 0;
	padding: 0;
}

.promo__slider-input{
	display: none;
}

.item-promo{
	list-style: none;
}

.item-promo--slider-1,
.item-promo--slider-2,
.item-promo--slider-3{
	position: relative;
	
	display: none;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
			justify-content: flex-start;
	-webkit-box-align: start;
	    -ms-flex-align: start;
			align-items: flex-start;
}

.description{
	width: 520px;
	margin-top: 72px;
	margin-bottom: 95px;
}

.description__title{
	margin: 0;
	padding: 0;
	margin-bottom: 25px;

	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
}

.description__text{
	margin: 0;
	padding: 0;
	margin-bottom: 56px;
	width: 410px;

	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
}

.description__button{
	background-color: rgba(251, 86, 90, 1);
}

.description__button:hover,
.description__button:focus,
.contacts__button:hover,
.contacts__button:focus{
	background-color: rgba(231, 66, 70, 1);
}

.description__button:active,
.contacts__button:active{
	color: rgba(255, 255, 255, 0.3);
	background-color: rgba(215, 55, 59, 1);
}

.item-promo__img-wrapper{
	position: absolute;
	width: 760px;
	height: 431px;
	top: -7px;
	right: 3px;
}

.item-promo__img-wrapper--1{
	background-image: url(../img/slide-1.png);
}

.item-promo__img-wrapper--2{
	background-image: url(../img/slide-2.png);
}

.item-promo__img-wrapper--3{
	background-image: url(../img/slide-3.png);
}

.controls{
	position: absolute;
	bottom: 92px;
	left: 50%;
	width: 110px;
	margin-left: -55px;

	display: -webkit-box;
	display: -ms-flexbox;
		display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
			justify-content: center;
}

.controls__item{
	margin: 0 8px;
	list-style: none;
}

.controls__label{
	position: relative;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 1);


	display: inline-block;
	vertical-align: baseline;
}

.controls__label:after{
	position: absolute;
	content: "";
	top: 6px;
	left: 6px;
	width: 4px;
	height: 4px;
	border: 2px solid rgba(255, 255, 255, 1);
	border-radius: 50%;
}

#radio-1:checked ~ .controls .controls__label[for="radio-1"]:after,
#radio-2:checked ~ .controls .controls__label[for="radio-2"]:after,
#radio-3:checked ~ .controls .controls__label[for="radio-3"]:after{
	border: 1px solid rgba(0, 0, 0, 1)
}

#radio-1:checked ~ .promo__list .item-promo--slider-1,
#radio-2:checked ~ .promo__list .item-promo--slider-2,
#radio-3:checked ~ .promo__list .item-promo--slider-3{
	display: -webkit-box;
	display: -ms-flexbox;
		display: flex;
}

.service{
	margin-bottom: 120px;
	padding-bottom: 5px;
}

.service__list{
	margin: 0;
	padding: 0;

	display: -webkit-box;
	display: -ms-flexbox;
		display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
			justify-content: flex-start;
	-webkit-box-align: start;
	    -ms-flex-align: start;
			align-items: flex-start;
}

.service__item{
	margin-right: 100px;
	list-style: none;
}

.service__item:last-child{
	margin-right: -100px;
}

.service-item__wrapper{
	margin-bottom: 15px;
	width: 300px;
}

.service-item__img-wrapper{
	margin: 0;
	padding: 0;
	margin-bottom: 27px;
	width: 100%;
	height: 145px;
}

.service-item__img-wrapper--1{
	background-image: url(../img/advantage-1.jpg);
}

.service-item__img-wrapper--2{
	background-image: url(../img/advantage-2.jpg);
}

.service-item__img-wrapper--3{
	background-image: url(../img/advantage-3.jpg);
}

.service-item__title{
	margin: 0;
	padding: 0;
	margin-bottom: 15px;

	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 1);
}

.service-item__text{
	margin: 0;
	padding: 0;
	margin-bottom: 48px;

	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 1);
}

.service-item__button{
	padding: 15px 39px;
}

.service-item__button--1{
	background-color: rgba(251, 86, 90, 1);
}

.service-item__button--2{
	background-color: rgba(0, 202, 116, 1);
}

.service-item__button--3{
	background-color: rgba(239, 200, 74, 1);
}

.service-item__button--1:hover,
.service-item__button--1:focus{
	background-color: rgba(231, 66, 70, 1);
}

.service-item__button--2:hover,
.service-item__button--2:focus{
	background-color: rgba(0, 188, 108, 1);
}

.service-item__button--3:hover,
.service-item__button--3:focus{
	background-color: rgba(234, 181, 52, 1);
}

.service-item__button--1:active{
	color: rgba(255, 255, 255, 0.3);
	background-color: rgba(215, 55, 59, 1);
}

.service-item__button--2:active{
	color: rgba(255, 255, 255, 0.3);
	background-color: rgba(0, 170, 98, 1);
}

.service-item__button--3:active{
	color: rgba(255, 255, 255, 0.3);
	background-color: rgba(229, 167, 34, 1);
}

.information{
	margin-bottom: 48px;

	display: -webkit-box;
	display: -ms-flexbox;
		display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
			justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
			align-items: flex-start;
}

.information-detail{
	width: 670px;
}

.information-detail__title{
	margin: 0;
	padding: 0;
	margin-top: 32px;
	margin-bottom: 33px;

	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
	color: rgba(0, 0, 0, 1);
}

.information-detail__text{
	margin: 0;
	padding: 0;
	margin-bottom: 39px;

	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 1);
}

.information-detail__prelist{
	margin: 0;
	padding: 0;
	margin-bottom: 24px;

	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 1);
}

.information-detail__list{
	margin: 0;
	padding: 0;
	margin-left: 36px;
}

.information-detail__item{
	margin: 0;
	padding: 0;
	margin-bottom: 25px;
	position: relative;

	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	list-style: none;
	color: rgba(0, 0, 0, 1);
}

.information-detail__item::before{
	position: absolute;
	content: "";
	width: 25px;
	height: 2px;
	top: 11px;
	left: -35px;
	background-color: rgba(251, 86, 90, 1);
}

.information-in-numbers{
	display: -webkit-box;
	display: -ms-flexbox;
		display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-align: end;
	    -ms-flex-align: end;
			align-items: flex-end;
}

.information__logo{
	margin-bottom: 18px;
}

.information__text{
	margin-bottom: 40px;
	padding-right: 16px;

	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	text-align: center;
	color: rgba(0, 0, 0, 1);
}

.information__table{
	margin: 0;
	padding: 0;
}

.information__cell{
	margin: 0;
	padding: 0;
	width: 118px;
}

.information__cell-title{
	padding-top: 16px;
	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	color: rgba(0, 0, 0, 1);
}

.information__cell-value{
	position: relative;
	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 45px;
	line-height: 45px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 1);
}

.information__cell-procent{
	position: absolute;
	top: -9px;
	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 25px;
	color: rgba(0, 0, 0, 1);
}

.brands{
	margin-bottom: 78px;
}

.brands__list{
	margin: 0;
	padding: 0;
	
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.brands__item{
	position: relative;
	list-style: none;
}

.brands__item::after{
	position: absolute;
	content: "";
	width: 2px;
	height: 50px;
	top: 65px;
	right: -20px;
	background-color: rgba(238, 238, 238, 1);
}

.brands__item:last-child::after{
	background-color: transparent;
}

.brands__picture:hover{
	opacity: 0;
}

.brands__item--1{
	background: url(../img/brand-1-hover.png);
}

.brands__item--1:active{
	background: url(../img/brand-1-active.png);
}

.brands__item--2{
	background: url(../img/brand-2-hover.png);
}

.brands__item--2:active{
	background: url(../img/brand-2-active.png);
}

.brands__item--3{
	background: url(../img/brand-3-hover.png);
}

.brands__item--3:active{
	background: url(../img/brand-3-active.png);
}

.brands__item--4{
	background: url(../img/brand-4-hover.png);
}

.brands__item--4:active{
	background: url(../img/brand-4-active.png);
}

.main__title-wrapper{
	margin-bottom: 35px;
	padding-top: 71px;
	padding-bottom: 107px;
	background-color: rgba(238, 238, 238, 1);
}

.main__title{
	margin: 0;
	padding: 0;
	text-align: center;

	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color: rgba(0, 0, 0, 1);
}

.main__section-catalog{
	margin-bottom: 75px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

.filters{
	width: 280px;
	margin-top: 21px;
}

.filters__filter{
	margin: 0;
	padding: 0;
	margin-bottom: 27px;
	border: none;
}

.filter-price__title,
.filter-grid__title,
.filter-feature__title,
.sort__title{
	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 1);
}

.filter-price{
	margin-bottom: 55px;
}

.filter-price__title{
	margin-bottom: 47px;
}

.price-control{
	margin-bottom: 15px;
	width: 260px;
	height: 80px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: rgba(238, 238, 238, 1);
}

.price-control__scale{
	height: 2px;
	width: 210px;
	background-color: rgba(0, 0, 0, 0.2);
	position: relative;
}

.price-control__bar{
	height: 100%;
	width: 64%;
	background-color: rgba(0, 202, 116, 1);
}

.price-control__toogle{
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	border: 8px solid rgba(255, 255, 255, 1);
	border-radius: 50%;
	background-color: rgba(171, 171, 171, 1);
	cursor: pointer;
	-webkit-box-shadow: 0 2px 0 0 rgba(217, 217, 217, 1);
	        box-shadow: 0 2px 0 0 rgba(217, 217, 217, 1);
}

.price-control__toogle--min{
	left: -4%;
}

.price-control__toogle--max{
	left: 65%;
}

.price-control__toogle:hover{
	width: 6px;
	height: 6px;
}

.price-control__toogle:active{
	width: 8px;
	height: 8px;
}

.price-control__label,
.price-control__input{
	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 1);
}

.price-control__input::-webkit-input-placeholder{
	color: rgba(0, 0, 0, 1);
	text-align: center;
}

.price-control__input::-moz-placeholder{
	color: rgba(0, 0, 0, 1);
	text-align: center;
}

.price-control__input:-moz-placeholder{
	color: rgba(0, 0, 0, 1);
	text-align: center;
}

.price-control__input:-ms-input-placeholder{
	color: rgba(0, 0, 0, 1);
	text-align: center;
}

.price-control__label--min{
	margin-right: 28px;
}

.price-control__input{
	margin-left: 12px;
	width: 80px;
	height: 35px;
	border: none;
	background-color: rgba(238, 238, 238, 1);
}

.filter-grid__title{
	margin-bottom: 15px;
}

.filter-grid__label,
.filter-feature__label{
	position: relative;
	cursor: pointer;
	outline: none;
	
	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	color: rgba(0, 0, 0, 1);
}

.filter-grid__radio,
.filter-feature__checkbox{
	display: none;
}

.filter-grid__label:focus::after,
.filter-feature__label:focus::after{
	outline: 2px solid rgba(55, 150, 247, 1);
}

.filter-grid__list{
	margin: 0;
	padding: 0;
	list-style: none;
}

.filter-grid__item{
	margin-left: 35px;
	margin-bottom: 20px;
}

.filter-grid__label::after{
	position: absolute;
	content: "";
	top: -3px;
	left: -33px;
	width: 26px;
	height: 26px;
	background-image: url(../img/radio-off.svg);
	background-repeat: no-repeat;
	opacity: 0.4;
}

.filter-grid__label:hover::after,
.filter-grid__label:focus::after{
	opacity: 1;
}

.filter-grid__label:active::after:not(.filter-grid__radio:disabled){
	background-image: url(../img/radio-on.svg);
	opacity: 1;
}

.filter-grid__radio:checked ~ .filter-grid__label::after{
	background-image: url(../img/radio-on.svg);
}

.filter-grid__radio:disabled ~ .filter-grid__label::after{
	opacity: 0.1;
}

.filter-feature__title{
	margin-bottom: 15px;
}

.filter-feature__list{
	margin: 0;
	padding: 0;
	list-style: none;
}

.filter-feature__item{
	margin-left: 35px;
	margin-bottom: 20px;
}

.filter-feature__label::after{
	position: absolute;
	content: "";
	top: -3px;
	left: -33px;
	width: 24px;
	height: 24px;
	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
	opacity: 0.4;
}

.filter-feature__label:hover::after{
	opacity: 1;
}

.filter-feature__label:active::after:not(.filter-feature__checkbox:disabled){
	background-image: url(../img/checkbox-on.svg);
	opacity: 1;
}

.filter-feature__checkbox:checked ~ .filter-feature__label::after{
	background-image: url(../img/checkbox-on.svg);
}

.filter-feature__checkbox:disabled ~ .filter-feature__label::after{
	opacity: 0.1;
}

.filters__button{
	margin-top: 5px;
	padding: 15px 89px;
	cursor: pointer;
	border: none;
	background-color: rgba(238, 238, 238, 1);

	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 1);
}

.filters__button:hover,
.filters__button:focus{
	background-color: rgba(223, 223, 223, 1);
}

.filters__button:active{
	background-color: rgba(213, 213, 213, 1);
	color: rgba(0, 0, 0, 0.3);
}

.catalog{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 760px;
}

.sort{
	margin-bottom: 33px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.sort__list{
	margin: 0;
	padding: 0;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	list-style: none;
}

.sort-type{
	margin-right: -257px;
}

.sort-type__link{
	margin-right: 25px;

	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.3);
}

.sort-type__link:hover,
.sort-type__link:focus{
	color: rgba(0, 0, 0, 0.6);
}

.sort-type__link--active,
.sort-type__link:active{
	color: rgba(0, 0, 0, 1);
}

.sort-destination__link{
	margin-left: 10px;
	font-size: 1px;
	color: rgba(255, 255, 255, 1);
}

.sort-destination__link::after{
	display: inline-block;
	vertical-align: baseline;
	content: "";
	border: 10px solid rgba(0, 0, 0, 0.3);
	border-right-color: transparent;
	border-left-color: transparent;
	border-right-width: 6px;
	border-left-width: 6px;
}

.sort-destination__link:hover::after{
	border: 10px solid rgba(0, 0, 0, 0.6);
	border-right-color: transparent;
	border-left-color: transparent;
	border-right-width: 6px;
	border-left-width: 6px;
}

.sort-destination__link--active::after,
.sort-destination__link:active::after{
	border: 10px solid rgba(0, 0, 0, 1);
	border-right-color: transparent;
	border-left-color: transparent;
	border-right-width: 6px;
	border-left-width: 6px;
}

.sort-destination__link--down::after,
.sort-destination__link--down:hover::after{
	border-bottom-width: 0;
}

.sort-destination__link--up::after,
.sort-destination__link--up:hover::after{
	border-top-width: 0;
}

.goods{
	margin-bottom: 45px;
}

.goods__list{
	margin: 0;
	padding: 0;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	list-style: none;
}

.goods__item{
	position: relative;
	margin-bottom: 29px;
}

.toolbar{
	width: 100%;
	height: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	border-radius: 5px 5px 0 0;
	background-color: rgba(238, 238, 238, 1);
}

.toolbar:hover{
	background-color: rgba(77, 77, 77, 1);
}

.toolbar__list{
	margin: 0;
	padding: 0;
	margin-left: 15px;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.toolbar__item{
	margin-right: 9px;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 1);
}

.goods-description{
	position: absolute;
	z-index: 1;
	bottom: 0;
	width: 100%;
	height: 235px;

	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: rgba(238, 238, 238, 1);
}

.goods__picture:hover ~ .goods-description,
.goods__picture:focus ~ .goods-description,
.goods-description:hover{
	display: -webkit-box;
	display: -ms-flexbox;
		display: flex;
}

.goods-description__title{
	margin: 0;
	padding: 0;
	margin-top: 26px;

	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 1);
}

.goods-description__text{
	width: 230px;
	margin-bottom: 30px;

	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	color: rgba(0, 0, 0, 1);
}

.goods-description__button{
	padding: 16px 60px;
	cursor: pointer;
	border: none;
	background-color: rgba(251, 86, 90, 1);
}

.goods-description__button:hover,
.goods-description__button:focus,
.goods-description__button:hover,
.goods-description__button:focus{
	background-color: rgba(231, 66, 70, 1);
}

.goods-description__button:active,
.goods-description__button:active{
	color: rgba(255, 255, 255, 0.3);
	background-color: rgba(215, 55, 59, 1);
}

.pagination__list{
	margin: 0;
	padding: 0;
	margin-left: 3px;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	list-style: none;
}

.pagination__item{
	margin-right: 14px;
}

.pagination__link{
	padding: 15px 20px;
	text-align: center;

	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 1);
	background-color: rgba(238, 238, 238, 1);
}

.pagination__link--next{
	padding: 15px 75px;
}

.pagination__link--active{
	padding: 12px 17px;
	background-color: rgba(255, 255, 255, 1);
	outline: 4px solid rgba(238, 238, 238, 1);
}

.pagination__link:hover:not(.pagination__link--active),
.pagination__link:focus:not(.pagination__link--active){
	background-color: rgba(223, 223, 223, 1);
}

.pagination__link:active:not(.pagination__link--active){
	color: rgba(0, 0, 0, 0.3);
	background-color: rgba(213, 213, 213, 1);
}

.footer{
	position: relative;
}

.footer__map-wrapper{
	width: 100%;
	height: 415px;
	background-image: url(../img/map.jpg);
	background-position: 79% 39%;
}

.contacts{
	position: absolute;
	top: 53px;
	left: 140px;
	width: 270px;
	padding-left: 50px;
	padding-bottom: 20px;
	background-color: rgba(255, 255, 255, 1);
}

.contacts__title{
	margin: 0;
	padding: 0;
	margin-top: 50px;
	margin-bottom: 22px;

	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 1);
}

.contacts__text{
	margin: 0;
	padding: 0;
	width: 210px;
	margin-bottom: 20px;

	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	color: rgba(0, 0, 0, 1);
}

.contacts__button{
	margin-top: 17px;
	margin-bottom: 28px;
	padding: 15px 50px;

	display: inline-block;
	vertical-align: baseline;
	background-color: rgba(251, 86, 90, 1);
}

.footer__map-pointer{
	position: absolute;
	top: 89px;
	right: 389px;
	width: 367px;
	height: 190px;
	background-image: url(../img/marker.png);
}

.social{
	margin-top: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

.social__list{
	margin-left: 40px;
	margin-right: 48px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.social__item{
	margin-right: 90px;
	list-style: none;
}

.social__link{
	position: relative;
	font-size: 0px;
}

.social__link::before{
	position: absolute;
	content: "";
	top: 0px;
	right: 0px;
	width: 78px;
	height: 78px;
	border-radius: 50%;
	background-color: rgba(225, 225, 225, 1);
}

.social__link:hover::before,
.social__link:focus::before{
	background-color: rgba(231, 66, 70, 1);
}

.social__link:focus::before{
	outline: 2px solid rgba(55, 150, 247, 1);
}

.social__link:active::before{
	background-color: rgba(215, 55, 59, 1);
}

.social__link::after{
	position: absolute;
	content: "";
	top: 28px;
	height: 20px;
}

.social__link:active::after{
	opacity: 0.3;
}

.social__link--vk::after{
	width: 25px;
	top: 31px;
	right: 28px;
	background: url("../img/vk.svg") no-repeat;
}

.social__link--fb::after{
	width: 15px;
	right: 30px;
	background: url("../img/fb.svg") no-repeat;
}

.social__link--inst::after{
	width: 20px;
	right: 28px;
	background: url("../img/inst.svg") no-repeat;
}

.social__title{
	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 36px;
	color: rgba(0, 0, 0, 1);
}

.social__text{
	margin: 0;
	padding: 0;
	margin-top: -25px;

	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	color: rgba(0, 0, 0, 1);
}

.popup-letter{
	margin: 0;
	padding: 0;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -295px;
	margin-left:-480px; 
	content: "";
	width: 960px;
	height: 550px;
	overflow: auto;
	z-index: 2;

	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: rgba(255 ,255 ,255, 1);
	-webkit-box-shadow: 0 0 20px 5px rgba(212, 212, 212, 1);
	        box-shadow: 0 0 20px 5px rgba(212, 212, 212, 1);
}

.popup-letter__wrapper-title{
	position: relative;
	margin-bottom: 40px;
	width: 760px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

.popup-letter__title{
	margin: 0;
	padding: 0;

	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
	color: rgba(0, 0, 0, 1);
}

.popup-letter__button-close{
	position: absolute;
	width: 23px;
	height: 25px;
	top: 25px;
	right: -10px;

	font-size: 0;
	margin: -1;
	border: none;
	overflow: none;
	background-color: transparent;
}

.popup-letter__button-close::before{
	position: absolute;
	content: "";
	width: 30px;
	height: 3px;
	top: 10px;
	right: -3px;
	background-color: rgba(251, 86, 90, 0.5);
	cursor: pointer;
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.popup-letter__button-close::after{
	position: absolute;
	content: "";
	width: 30px;
	height: 3px;
	top: 10px;
	right: -3px;
	background-color: rgba(251, 86, 90, 0.4);
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.popup-letter__button-close:hover::before,
.popup-letter__button-close:hover::after,
.popup-letter__button-close:focus::before,
.popup-letter__button-close:focus::after{
	background-color: rgba(251, 86, 90, 1);
}

.popup-letter__button-close:active::before,
.popup-letter__button-close:active::after{
	background-color: rgba(251, 86, 90, 0.2);
}

.popup-letter__form{
	position: relative;
	width: 760px;
	display: -webkit-box;
	display: -ms-flexbox;
		display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.popup-letter__wrapper{
	-ms-flex-preferred-size: 360px;
	    flex-basis: 360px;
	margin-bottom: 35px;
}

.popup-letter__label{
	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 18px;
	color: rgba(0, 0, 0, 1);
}

.popup-letter__input{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin-top: 10px;
	padding-left: 10px;
	width: 360px;
	height: 50px;
	border: 2px solid rgba(215, 220, 222, 1);
	border-radius: 5px;
	
	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	color: rgba(0, 0, 0, 1);
}

.popup-letter__input--textarea{
	padding-top: 10px;
	width: 760px;
	height: 115px;
	resize: none;
}

.popup-letter__input::-webkit-input-placeholder{
	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.5);
}

.popup-letter__input::-moz-placeholder{
	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.5);
}/* Firefox 19+ */

.popup-letter__input:-moz-placeholder{
	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.5);
}/* Firefox 18- */

.popup-letter__input:-ms-input-placeholder{
	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.5);
}

.popup-letter__input:hover{
	border-color: rgba(180, 185, 187, 1);
}

.popup-letter__input:focus{
	border-color: rgba(0, 0, 0, 1);
	outline: none;
}

.popup-letter__input:focus::-webkit-input-placeholder{
	color: rgba(0, 0, 0, 1);
}

.popup-letter__input:focus::-moz-placeholder{
	color: rgba(0, 0, 0, 1);
}

.popup-letter__input:focus:-moz-placeholder{
	color: rgba(0, 0, 0, 1);
}

.popup-letter__input:focus:-ms-input-placeholder{
	color: rgba(0, 0, 0, 1);
}

.popup-letter__button{
	margin-top: 15px;
	border: none;
	background-color: rgba(251, 86, 90, 1);
}

.popup-letter__button:hover,
.popup-letter__button:focus{
	background-color: rgba(231, 66, 70, 1);
}

.popup-letter__button:active{
	color: rgba(255, 255, 255, 0.3);
	background-color: rgba(215, 55, 59, 1);
}

.popup--show{
	display: -webkit-box;
	display: -ms-flexbox;
		display: flex;
}